p.text{
	text-align: left;
	text-transform: none;
	color:black;
}

.inlineImgRight{
	float:right;
	margin: 10px;
	border: 3px solid !important;
}.inlineImgLeft{
	float:left;
	margin: 10px;
	border: 3px solid !important;
}

.clearFloat{
	clear:both;
}.

